body {
  background-color: lightgreen;
}

h1 {
  color: blue;
}

th {
  background-color: gray;
  font-family: "arial";
}

table {
  width: 100%;
  border-width: thick;
  border-style: double;
  border-collapse: collapse;
  background-color: lightgreen;
}



img {
  width: 350px;
  height: 150px;
}

iframe {

  width: 100%;
  height: 800px;
}

a:hover {
  color: yellow;
}